/* ------------------------

    Table of Contents


  1. General
  2. Transition
  3. Helper class
  4. Text color
  5. Background color
  6. Header
  7. Navigation
  8. Section Title
  09. Button
  10. Table And Precode
  11. Scroll To Top

/* ------------------------
    General
------------------------*/
 
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;600;700;900&family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    letter-spacing: 0.3px;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: #525252;
    overflow-x: hidden;
}
a,
.btn  {
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;

    transition: all 0.5s ease-in-out 0s;
}
a:focus {
    text-decoration: none !important;
}
a:focus,
a:hover {
    color: #76ba43;
    text-decoration: none !important;
}
a,
button,
input {
    outline: medium none !important;
    color: #76ba43;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: capitalize;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

h1 {
    font-size: 36px;
    font-style: normal;
    line-height: 50px;
    font-weight: bold;
    text-transform: capitalize; 
    color: #101010;
}

h2 {
    font-size: 38px;
    font-style: normal;
    line-height: 50px;
    font-weight: 300;
    color: #282925;
    text-transform: capitalize;
}

h3 {
    font-size: 26px;
    font-style: normal;
    line-height: 36px;
}

h4 {
    font-size: 20px;
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 26px;
    color: #282925;
}

h5 {
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    font-weight: 500;
}

h6 {
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
}
ul {
    margin: 0px;
    padding: 0px;
}
*::-moz-selection {
    background: #76ba43;
    color: #fff;
    text-shadow: none;
}
::-moz-selection {
    background: #76ba43;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #76ba43;
    color: #fff;
    text-shadow: none;
}

/* ------------------------
    Helper class
------------------------*/
.lead {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

.o-hidden {
    overflow: hidden;
}
.img-center {
    display: inline-block !important;
    max-width: 100%;
}
.fa {
    line-height: inherit;
}
section {
    padding: 40px 0;
}
h2 span {
    color: #76ba43;
    font-weight: bold;
}
pre{    
    font-size: 100%;
}

/* ------------------------
    Text color
------------------------*/

.text-theme {
    color: #76ba43;
}
.text-white {
    color: #ffffff;
}

/* ------------------------
    Background color
------------------------*/
.skin-bg-color {
    background: #76ba43;
}
.dark-bg {
    background: #222;
}
/* ------------------------
    Header
------------------------*/

.site-header,
.fullscreen,
.banner {
    position: relative;
}

.site-header+.fullscreen {
    margin-bottom: -85px;
    top: -85px;
}

.site-header,
.top-bar,
header .container {
    position: relative;
    z-index: 99;
}

.site-header {
    background: #fafafa
}

.header-transparent {
    background: transparent;
}

#header-wrap {
    padding: 20px;
    width: 100%;
    background: #76ba43;
}

#header-wrap.fixed-header {
    position: fixed;
    padding: 15px 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999 !important;
    background: #282925;
    -webkit-box-shadow: 0 0 13px 3px rgba(255, 255, 255, 0.07);

    -moz-box-shadow: 0 0 13px 3px rgba(255, 255, 255, 0.07);
    box-shadow: 0 0 13px 3px rgba(255, 255, 255, 0.07);
}

.logo img {
    height: 70px;
}

/* ------------------------
    Navigation
------------------------*/
.navbar {
    padding: 0;
}

.navbar-nav li {
    margin: 0 2px;
}

.navbar-nav li:last-child {
    margin-right: 0;
}
body .navbar-nav .nav-link {
    position: relative;
    color: #282925;
    font-family: "Heebo","Trebuchet MS";
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.5px;
    border-radius: 10px;
    padding: 5px 20px !important;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-item .nav-link.active {
    color: #000;
    background: #fff;
}
.fixed-header .navbar-nav .nav-link:hover,
.fixed-header .navbar-nav .nav-link:focus,
.fixed-header .navbar-nav .nav-item .nav-link.active {
    color: #ffffff;
    background: #76ba43;
}
.fixed-header .navbar-nav .nav-item .nav-link {
    color: #ffffff
}

/* ------------------------
    Section Title
------------------------*/
.section-title h3 {
    position: relative;
    padding-left: 20px;
    margin-bottom: 25px;
    color: #282925;
    line-height: inherit;
}

.section-title h3:before,
.section-title h3:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #76ba43;
    height: 100%;
    width: 2px;
}
.section-title h3:after {
    left: 10px;
}

.title-bar{
    background: #fafafa;
    padding: 80px 0;
}

/* ------------------------
    Button
------------------------*/

a.link-btn,

.link-btn a {

    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
}

.pbmit-btn {
    display: inline-block;
    text-decoration: none; 
    letter-spacing: 0.2px;
    padding: 15px 40px;
    border-radius: 4px;
    text-transform: none;
    background-color: #76ba43;
    border: none;
    color: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    outline: none !important;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}
.pbmit-btn span{
	position: relative;
    padding-right: 52px;
    display: inline-block;
    line-height: normal;
}
.pbmit-btn span:before{
	content: "";
    width: 40px;
    height: 1px;
    color: inherit;
    position: absolute;
    right: 0;
    top: 50%;
    background-color: #fff;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.pbmit-btn span:after{
	font-family: "pbminfotech-base-icons";
    content: "\e854";
    font-size: 10px;
    line-height: normal;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    right: -8px;
}
.pbmit-btn.pbmit-btn-outline {
    background-color: transparent;
    padding: 13px 40px;
    color: #000;
    border: 1px solid #76ba43;
}
.pbmit-btn.pbmit-btn-outline span::before {
    background-color: #000;
}
.pbmit-btn.pbmit-btn-outline:hover span::before {
    background-color: #fff;
}
a.pbmit-btn:hover{
    color: #fff;
    background: #101010;
}
a.pbmit-btn.pbmit-btn-outline:hover{
    background: #76ba43;
    color: #fff;
    border-color: #76ba43;
}

/* ------------------------

    Table And Precode

------------------------*/

.str,
.atv {
    color: #d14;
}

.typ,
.atn,
.dec,
.var {
    color: teal;
}

.kwd,
.linenums .tag {
    color: #1e347b;
}

.pln {
    color: #48484c;
}

.overflow-auto {
    overflow: auto;
}

.prettyprint {
    background-color: #eceff8;
    border: 1px solid #e1e1e8;
    padding: 8px;
    border-radius: 5px;
}

.prettyprint.linenums {
    box-shadow: 40px 0 0 #fbfbfc inset, 41px 0 0 #ececf0 inset;
}

ol.linenums {
    padding: 0 0 0 30px;
}

ol.linenums li {
    color: #bebec5;
    line-height: 18px;
    padding-left: 12px;
    text-shadow: 0 1px 0 #fff;
}

table {
    border: 1px solid #e1e1e8;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

td {
    border-bottom: 1px solid #e1e1e8;
    border-right: 1px solid #e1e1e8;
    padding: 15px;
}

.label-danger {
    background-color: #FF0000;
    padding: 0.5em 0.6em;
    color: #ffffff;
    border-radius: 5px;
    font-size: 12px;
    margin-right: 5px;
}

.table>tbody>tr>td,
.cart-table.table>tbody>tr>th,
.cart-table.table>tfoot>tr>td,
.cart-table.table>tfoot>tr>th,
.cart-table.table>thead>tr>td,
.cart-table.table>thead>tr>th {

    vertical-align: middle;
}



/* ------------------------

    Scroll To Top

------------------------*/

#scroll-top .top {
    z-index: 999;
    position: fixed;
    margin: 0px;
    background: #76ba43;
    border: 2px solid #ffffff;
    border-radius: 5px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: fixed;
    bottom: 65px;
    right: 25px;
    z-index: 999;
    font-size: 22px;
    color: #ffffff;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

#scroll-top .top:hover {
    background: #ffffff;
    border: 2px solid #76ba43;
    color: #76ba43
}